body{
    color: white;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
}

.categories img{
    width: 100px;
}
.panda-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.hero-m{
    margin-top: 70px;
}
.card{
    background-color: #3d3d3d;
    color: white;
}
.max-line-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Auth starts */


.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
  }


.main {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }
}
.btn-black{
    background-color: #000 !important;
}
/* Auth ends */